# byte-compiled / optimized / dll files
__pycache__/
*.py[cod]

# c extensions
*.so

# distribution/packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pyinstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# installer logs
pip-log.txt
pip-delete-this-directory.txt

# unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# translations
*.mo
*.pot

# sphinx documentation
docs/_build/

# pybuilder
target/

# pid files from daemons
PID*

# any certificates
*.crt
*.key
*.pem
